<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Common Dao -->
	<bean id="dao" class="com.asc.common.persist.hibernate4.BaseHibernateDao" autowire="byName"/>
	
	<bean id="oracleJdbcDao" class="com.asc.common.persist.jdbc.OracleJdbcDao">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	 
	<bean id="jdbcDao" class="com.asc.common.persist.jdbc.OracleJdbcDao">
		<property name="dataSource"><ref bean="dataSource"/></property>
	</bean>
	
	<bean id="springContext" class="com.asc.common.persist.SpringContext"></bean>
	
	<!-- HibernateBeanUtil -->
	<bean id="hibernateBeanUtil" class="com.asc.common.persist.hibernate.HibernateBeanUtilImpl" autowire="byName"></bean>
	
	
</beans>
